{{- $class := partial "func/GetColClass" .grid -}}
<section class="block-table {{- with .background }} block-bg{{ end }}" {{- partial "func/SetAnim" (dict "element" "block") }}>
  <div class="container">

    {{- partial "blocks/heading.html" . -}}

    {{- if $class }}
    <div class="row">
      <div class="{{ $class }}">
    {{ end -}}

    {{- with .rows }}
    {{- $hasLabel := false -}}
    {{- $hasYear := false -}}
    {{- range . -}}
    {{- with .src }}{{ $hasLabel = true }}{{ end -}}
    {{- with .year }}{{ $hasYear = true }}{{ end -}}
    {{ end -}}
    <div class="table-responsive-sm">
      <table>
        <thead class="d-none">
          <tr>
            <th scope="col">{{ i18n "name" }}</th>
            {{- if $hasLabel }}
            <th scope="col">{{ i18n "label" }}</th>
            {{ end -}}
            {{- if $hasYear }}
            <th scope="col">{{ i18n "year" }}</th>
            {{ end -}}
            <th scope="col">{{ i18n "price" }}</th>
          </tr>
        </thead>
        <tbody>
          {{- range . }}
            <tr>
              <th scope="row">{{ partial "func/PrepareHTML" .title | markdownify }}</th>
              {{- if $hasLabel }}
              <td>
                {{- with .src }}
                  {{- partial "commons/image" (dict "src" . "desktop" "25x") -}}
                {{ end -}}
              </td>
              {{ end -}}
              {{- if $hasYear }}
              <td>
                {{- with .year }}
                  {{- partial "func/PrepareHTML" . -}}
                {{ end -}}
              </td>
              {{ end -}}
              <td>{{ partial "func/PrepareHTML" .text }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    {{ end -}}
      
    {{- if $class }}
      </div>
    </div>
    {{ end -}}

  </div>
</section>