$primary: #004000
$secondary: #7b9972
$tertiary: #f5fbf2
$warning: #fffbce

$body-bg: #fefefe
$body-color: #000000

$headings-font-family: 'Playfair Display', Times, sans-serif
$headings-font-weight: 400
$h1-font-size: 4rem
$h2-font-size: 3rem
$h3-font-size: 2rem
$blockquote-font-size: 3rem

$border-radius: 0

$header-background-color: white
$header-color: black

$table-bg: transparent