$primary: #004000
$secondary: #7b9972
$light: #f5fbf2
$warning: #fffbce

$headings-font-family: 'Playfair Display', Times, sans-serif
$headings-font-weight: 400
$h1-font-size: 4rem
$h2-font-size: 3rem
$h3-font-size: 2rem
$blockquote-font-size: 3rem