header[role="banner"]
    // left: 0
    // position: fixed
    // right: 0
    // transition: top .3s ease, background .3s ease
    // &.is-sticky
    //     position: fixed
    .logo
        font-family: $headings-font-family
        font-size: 1.5rem
        font-weight: $headings-font-weight
        text-decoration: none
        img
            height: 20px
    .nav-primary
        --bs-nav-link-font-weight: 700
        li:last-child
            a
                --bs-nav-link-color: white
                --bs-nav-link-hover-color: white
                --bs-nav-link-active-color: white
                background: $primary
                text-decoration: none
                transition: background $transition-effect $transition-duration
                &:hover
                    background: darken($primary, 2)
            @include media-breakpoint-down(md)
                margin-top: $nav-link-padding-y
            @include media-breakpoint-up(md)
                margin-left: $nav-link-padding-x
