.nav 
    .dropdown-menu
        --bs-dropdown-item-padding-x: 1rem
        --bs-dropdown-padding-y: 0
        a.active
            color: var(--bs-dropdown-link-color)
            background-color: var(--bs-dropdown-link-bg)
        a:hover
            color: var(--bs-dropdown-link-hover-color)
            background-color: var(--bs-dropdown-link-hover-bg)